# Laravel
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/bootstrap/cache/.htaccess
.env
.env.backup
.env.*.local
.env.*.example

# Node / Vite
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled
*.pyc
__pycache__/
*.rbc
capybara-*.html
.rspec
/ coverage
*.sqlite3
/public/storage/**

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db?

# Editors/IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs / Temp
*.log
logs
storage/logs/laravel.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/vendor
/storage/framework/cache/data/*
/storage/logs/*.log
/storage/framework/sessions/*
/storage/framework/views/*

# Project temps
Website-Update/
skills/
useless/
.omc/
.claude/
.kiro/
.paul/
.cursor/
project-docs/
project-docs-v1/
project_explanation/
TODO.md
.agents
.phpunit.result.cache
scratch/
/debug_workflow
/debug_workflow/blackboard
/database/testing

# Dependencies venv
venv/
.venv/

# Editors extra
.phpactor.json
.cursor/
